img{
    width: 300px;
    height: 200px;
    border-radius: 7px;
}
#series h1{
    color: #761c19;
    font-weight: 700;
    margin-left: 3%;
}
#series{
    margin-top: -1.05%;
}
table{
    color: #761c19;
    font-weight: 700;
}
.descr{
    background-color: #2b542c;
    margin-top: -80%;
    margin-left: 20%;
    margin-right: 10%;
}