<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="com.concretepage">
        <class>ru.ifmo.cs.domain.News</class>
        <class>ru.ifmo.cs.domain.Article</class>
        <class>ru.ifmo.cs.domain.Human</class>
        <class>ru.ifmo.cs.domain.CommentOnArticle</class>
        <class>ru.ifmo.cs.domain.CommentOnNews</class>
        <class>ru.ifmo.cs.domain.CommentOnSeries</class>
        <class>ru.ifmo.cs.domain.CommentOnTvSeries</class>
        <class>ru.ifmo.cs.domain.Person</class>
        <class>ru.ifmo.cs.domain.Series</class>
        <class>ru.ifmo.cs.domain.CommentOnSeries</class>

        <properties>
            <property name="toplink.jdbc.url" value="jdbc:postgresql://localhost:5432/postgres"/>
            <property name="toplink.jdbc.driver" value="org.postgresql.Driver"/>
            <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:58000/studs"/>
            <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
            <property name="openjpa.ConnectionURL" value="jdbc:postgresql://localhost:58000/studs"/>
            <property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
            <property name="eclipselink.jdbc.url" value="jdbc:postgresql://localhost:58000/studs"/>
            <property name="eclipselink.jdbc.driver" value="org.postgresql.Driver"/>
        </properties>

    </persistence-unit>
</persistence>
